.card {
    background-color: #0d0d0d;
    height: 300px;
    width: 300px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.timer {
    color: #e2f26b;
}
